.Sidebar {
  flex-basis: 100px;
  border-right: 1px solid;
  border-left: 1px solid;
  text-align: left;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.Sidebar > button {
  width: 100%;
  margin: 0px;
  padding: 10px 10px;
}
